.container {
  display: flex;
  justify-content: center;
  padding-top: 10%;
}

.ball {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  margin: 0;
}

.red-ball {
  background: radial-gradient(circle at 100px 100px, #ff4f4f, #000);
}

.blue-ball {
  background: radial-gradient(circle at 100px 100px, #5cabff, #000);
}